{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Front-End Pipeline - Django</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body> 
    <div class="grid">
      <div class="col-6">
        <h1>React</h1>
        <div id="spa-react" class="dev-box"></div>
        <script src="{% static 'js/react.js' %}"></script>
      </div>

      <div class="col-6">
        <h1>Vue</h1>
        <p>Vue is not implemented</p>
        <!-- <div id="spa-vue" class="dev-box"></div> -->
        <!-- <script src="{% static 'js/vue.js' %}"></script> -->
      </div>
    </div>

  </body>
</html>
